.save-wrap{
  padding: 20px;
  display: flex;
  align-items: center;
}
.save-list{
  border: 1px dashed #ccc;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.save-list > div {
  overflow: hidden;
  margin: 3px 7px 3px 0px;
}
